<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcom_test.example.mapper.BoardMapper">

<!-- BoardList 불러오기 -->
<select id="selectBoardList" resultType="Board">
     SELECT 		b_id		as bId,
     				b_writer 	as bWriter,
     				b_title 	as bTitle,
     				b_content   as bContent,
     				b_datetime  as bDateTime,
     				b_views		as bViews,
     				b_group		as bGroup,
     				b_order		as bOrder,
     				b_depth		as bDepth,
     				u_id		as username
     					
	 FROM 			vue_board
	 ORDER BY 		b_group DESC, b_order ASC	
	 LIMIT			#{pageNum},#{perPage}
</select>

<select id="selectImagesList" resultType="Images">
     SELECT 		i_id		as iId,
     				i_name 		as iName,
     				i_pk		as iPk
     					
	 FROM 			vue_img
</select>

<select id="selectCommentList" resultType="Comment">
     SELECT 		c_id		as cId,     				
     				c_content   as cContent,
     				c_datetime  as cDateTime,     				
     				c_group		as cGroup,
     				c_order		as cOrder,
     				c_depth		as cDepth,
     				u_id		as username,
     				b_id		as bId
     			
	 FROM 			vue_comment
	 WHERE			b_id = #{bId}
	 ORDER BY 		c_group DESC, c_order ASC
	 LIMIT			#{pagination.pageNum},#{pagination.perPage}
</select>

<select id="getlist" resultType="Board">
	SELECT			b_title		as bTitle,
					b_content 	as bContent
	FROM			vue_board
	WHERE			b_id = #{bId}
</select>


<select id="getBoard" resultType="Board">
     SELECT 		b_id		as bId,
     				b_writer 	as bWriter,
     				b_title 	as bTitle,
     				b_content   as bContent,
     				b_datetime  as bDateTime,   	
     				b_views 	as bViews,					   				
     				u_id		as username
     					
	 FROM 			vue_board	
	 WHERE			b_id = #{bId}
</select>

<update id="getBoardViews" parameterType="int">
	UPDATE		vue_board
	SET			b_views = b_views+1
	WHERE 		b_id = #{bId}	
</update>


<insert id="insertComment" parameterType="Comment">
	      INSERT INTO vue_comment(
			c_content,
			u_id,
			b_id
			
		)VALUES(
			#{cContent},
			#{username},
			#{bId}
		)
	<selectKey keyProperty="cId" resultType="int">
		SELECT LAST_INSERT_ID() 
	</selectKey>
</insert>

<insert id="insertImage" parameterType="Images">
	INSERT INTO vue_img(
		i_name,
		i_pk

	)VALUES(
		#{iName},
		#{iPk}
		
	<selectKey keyProperty="iId" resultType="int">
		SELECT LAST_INSERT_ID() 
	</selectKey>
	)
</insert>

<update id="updatepId" parameterType="Images">
	UPDATE		vue_img
	SET			p_id = #{iId}
	WHERE 		i_id = #{iId}	
</update>

<select id="getCommentCount" resultType="int">
	SELECT		COUNT(*)					as count
				
	FROM		vue_comment
</select>	

<update id="updateGroup" parameterType="Board">
	UPDATE		vue_board
	SET			b_group = #{bId}
	WHERE 		b_id = #{bId}	
</update>

<update id="updateCommentGroup" parameterType="Comment">
	UPDATE		vue_comment
	SET			c_group = #{cId}
	WHERE 		c_id = #{cId}	
</update>

<update id="updateOrder" parameterType="Board">
		UPDATE		vue_board
		SET			b_order = b_order +1
		WHERE 		b_group = #{bGroup}
		AND			b_order >= #{bOrder}
		AND			b_id != #{bId}
</update>

<update id="updateCommentOrder" parameterType="Comment">
		UPDATE		vue_comment
		SET			c_order = c_order +1
		WHERE 		c_group = #{cGroup}
		AND			c_order >= #{cOrder}
		AND			c_id != #{cId}
</update>

<insert id="insertCommentReply" parameterType="Comment">
	      INSERT INTO vue_comment(
			c_content,
			c_group,
			c_order,
			c_depth,
			u_id,
			b_id
			
		)VALUES(
			#{cContent},
			#{cGroup},
			#{cOrder},
			#{cDepth}+1,
			#{username},
			#{bId}
		)
</insert>


<insert id="insertReply" parameterType="Board">
	      INSERT INTO vue_board(
			b_title,
			b_content,
			b_group,
			b_order,
			b_depth,
			u_id
			
		)VALUES(
			#{bTitle},
			#{bContent},
			#{bGroup},
			#{bOrder},
			#{bDepth}+1,
			#{username}
		)
</insert>
	
<select id="getBoardCount" resultType="int">
	SELECT		COUNT(*)					as count
				
	FROM		vue_board
</select>	
	
<delete id="deleteBoard" parameterType="Board">
   	DELETE
   	FROM	vue_board
   	WHERE	b_id = #{bId}
</delete>

<delete id="deleteComment" parameterType="Comment">
	DELETE
	FROM 	vue_comment
	WHERE	c_id = #{cId}
</delete>

<update id="insertEdit" parameterType="Board">
	UPDATE	vue_board
	SET		b_title = #{bTitle},
			b_content = #{bContent}
	WHERE	b_id = #{bId}
</update>

<update id="updateComment" parameterType="Comment">
	UPDATE	vue_comment
	SET		c_content = #{cContent}
	WHERE	c_id = #{cId}
</update>

<update id="updateCommentShow" parameterType="Comment">
	UPDATE	vue_comment
	SET		c_content = #{cContent}
	WHERE	c_id = #{cId}
</update>				
</mapper>
