<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcom_test.example.mapper.ProductMapper">
<select id="selectProductList" resultType="Product">
     SELECT 		p_id		as pId,
     				p_name		as pName,
     				p_price		as pPrice,
     				p_from 		as pFrom,
     				p_brand		as pBrand
     				
     					
	 FROM 			vue_product
</select>

<insert id="insertProduct" parameterType="Product">
	      INSERT INTO vue_product(
			p_name,
			p_price,
			p_from,
			p_brand
			
		)VALUES(
			#{pName},
			#{pPrice},
			#{pFrom},
			#{pBrand}
		)
</insert>
</mapper>